<!--
  Generated template for the ViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
<ion-header>

  <ion-navbar>
    <ion-title>View</ion-title>
  </ion-navbar>

</ion-header>
-->

<!--
  Team TriNetra
  This page consists of using the ionic framework grid, with simple css classes
  utilizing pixel heights for items to be displayed. It has two buttons, one for
  navigation to other pages, as well as one that will delete the resulting data. It
  utilizes ionic cards to display each results, where each has a button to delete that
  result.
  -->

<ion-content padding>
  <ion-card *ngFor="let item of results">

    <ion-card-header class="largeFont">
      {{timeConverter(item.time)}}
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="largeFont"> {{item.task}} </ion-row>
        <ion-row class="largeFont"> {{item.person}} </ion-row>
        <ion-row class="largeFont"> {{item.comment}} </ion-row>
      </ion-grid>
    </ion-card-content>
    <!--   <i class="fas fa-trash-alt"  (click)="delete(item.time)"></i>    -->
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>

        <ion-col>
          <button class="largeFont" ion-button item-right color="danger" (click)="delete(item.time)">Delete</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row> 
      <ion-col> <button class="colHeight1" full ion-button (click)="goToSearch()">Return Home</button> </ion-col>
    
    <ion-col> </ion-col>
    <ion-col> <button class="colHeight1" color="danger" full ion-button (click)="deleteAll()">Delete All</button> </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>