<!--
  Generated template for the AddEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
<ion-header>

  <ion-navbar>
    <ion-title>AddEntry</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content padding>
  <ion-grid>
    <ion-row class="colHeight1"></ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Task Type</ion-label>
          <ion-select [(ngModel)]="Task">
            <ion-option *ngFor="let item of TaskSet" [value]="item">{{item}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Person</ion-label>
          <ion-select [(ngModel)]="Person" multiple="true">
            <ion-option *ngFor="let item of PersonSet" [value]="item">{{item}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-textarea [(ngModel)]="Task" placeholder="Enter New Task"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-item>
          <ion-textarea [(ngModel)]="NewPerson" placeholder="Enter New Person"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

<ion-row class="colHeight1"></ion-row>

    <ion-row class="colHeight1">
      <ion-item>
        <ion-textarea [(ngModel)]="Comment" placeholder="Comments"></ion-textarea>
      </ion-item>
    </ion-row>

<ion-row class="colHeight1"></ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <button class="colHeight1 largeFont" full ion-button color="secondary" (click)="SaveEntry()">Save</button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <button class="colHeight1 largeFont" full ion-button (click)="goToHome()">Cancel / Back</button> 
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>







  </ion-grid>
</ion-content>